html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}


body {
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(93,93,93,1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: black;

    border-radius: 15px;

    height: 100%;
    width: 100%;

    
}

.display {
    height: 120px;
    width: 450px;
    margin: auto;
    text-align: right;
    //background-color: indianred;
}

.secondary-display {
    padding-top: 15px;
    //padding-right: 35px;
    font-size: 22px;
    font-weight: 549;
}

.primary-display {
    font-size: 50px;
    line-height: 10%;
    //padding-right: 35px;
}

.input {
    height: 600px;
    width: 450px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    //background-color: turquoise;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 5%;

}

.btn {
    font-size: 40px;
    color: white;
    border: transparent;
    border-radius: 300px;
    height: 90%;
    width: 20%;
    outline: none;
}

.operation {
    background-color: #fe9505;
}

.utility {
    background-color: #a5a5a5;
    color: black;
}

.num {
    background-color: #333333;
    
}

#zero {
    width: 45%;
    text-align: left;
    padding-left: 35px;
}

@keyframes numFlash {
 0% {background-color: #777777;}
 100% {background-color: #333333;}
}

.flash.num{
    animation-name: numFlash;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
} 

@keyframes utilityFlash {
 0% {background-color: #dadada;}
 100% {background-color: #a5a5a5;}
}

.flash.utility{
    animation-name: utilityFlash;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
} 

@keyframes equalFlash {
    0% {background-color:  #ffd69d;}
    100% {background-color: #fe9505;}
   }
   
   .flash#equal{
       animation-name: equalFlash;
       animation-fill-mode: forwards;
       animation-duration: 1000ms;
   } 